*.dSYM
*.o
*.pyc
*~
compile_commands.json
Makefile
avatar.egg-info
config.log
config.status
src/avatardt
src/crossvalfc
src/rfFeatureValue
tools/diversity
tools/proximity
tools/remoteness
tools/tree_stats
build/
